.label-container {
  padding: 10px;
  min-width: 70px;
  text-align: left;

}

.flex-layout-column{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.flex-layout-row {
  display: flex;
  justify-content: center;
  align-content: center;
}